.infinite {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.infinite-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid none none none;
    border-color: rgba(0, 0, 0 , 0.23);
    border-width: 1px;
    padding-top: 3vh;
    padding-bottom: 3vh;    
}

.infinite-item--info {
   text-align: left;
}

.infinite-item--stock {
    display: flex;
    align-items: center; 
}

.category {
    margin-top: 15vh; 
    padding-left: 32vw;
    padding-right: 32vw;
}

.error {
    margin-top: 2vh;  
}

.loader {
    margin-top: 3vh; 
}

@media screen and (max-width: 800px) {
    .category {
        padding-left: 10vw;
        padding-right: 10vw; 
    }
}

.infinite-item--circle, 
.red-circle, 
.yellow-circle, 
.green-circle {
    border: hidden;
    border-radius: 9px;
    width: 18px;
    height: 18px;
    margin-left: 1vh;
    margin-top: 3px;
}

.red-circle {
    background-color:#d50000;
}

.yellow-circle {
    background-color:#ffea00;
}

.green-circle {
    background-color: #76ff03;
}